body{
  padding-top: 20px;
}

.img-circle {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.left_col{
  background-color: #922B21;  
  color: #fff !important;
}

.right_col{
  padding-top: 20px;
  padding-left: 50px;
  background-color: #fafafa;
}

.nav_title{
  background-color: #d13930;
}

body.nav-md{
  background: #f7f7f7;
}

td{
  font-size: 20px;
}

small{
  color: #ADABAB;
  font-size: 15px;
  line-height: 20px
}
